
.header{
    width: 100%;
    height: 100px;
}
.img1{
    float: left;
    width: 131px;
    height: 72px;
    left: 100px;
    top: 17px;
}
.line{
    float: left;
    margin: 18px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgb(139, 139, 139);
    width: 1px;
    height: 40px;
}
.text1{
    text-align: center;
    float: left;
    margin-top: 1%;
}
.text2{
    text-align: center;
    margin-top: 0.25%;
    width: 30px;
    background-color: #4AD295;
    color: white;
}
.img2{
    float: left;
    text-align: center;
}
.img3{
    width: 30px;
    height: 30px;
    margin-top: 15%;
    margin-left: 10px;
}

.img4{
    width: 30px;
    height: 30px;
    float: left;
}
.poisk{
    display: flex;
    flex-direction: none;
    position: absolute;
width: 190px;
height: 55px;
left: 862px;
top: 23px;

background: #EFF3F6;
border-radius: 2px;

}
.btn{
    text-align: center;
    position: absolute;
width: 55px;
height: 55px;
background: #DD4053;
border-radius: 2px;
left: 135px;
font-size: 30px;
}

.poisk1{
    display: flex;
    flex-direction: none;
    position: absolute;
width: 190px;
height: 55px;
left: 1132px;
top: 23px;

background: #EFF3F6;
border-radius: 2px;

}
.btn1{
    text-align: center;
    position: absolute;
width: 55px;
height: 55px;
background: #4AD295;
border-radius: 2px;
left: 135px;
font-size: 30px;
}
.i{
    display: flex;
    flex-direction: none;
    width: 180px;
    height: 80px;
   align-items: center;
   justify-content: center;
   
}
.menu{
    width: 1440px;
    height: 70px;
    top: 125px;
    display: flex;
    justify-self: center;
    text-align: center;
}
.img5{
   width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 40px; 
    float: left;
}
.menu1{
    margin-left: 40px;
}
.img6{
    width: 20px;
    height: 20px;
}
.s{
    width: 100%;
}
.img7{
    width: 100%;
    height: 490px;
    object-fit:cover;
    background:  linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%,rgba(0, 0, 0, 0.8) 100%), url(picture/fon.jpg) center center no-repeat; 
    background-size: cover;
}
.many1{
    padding-top:50px;
    text-align: center;
}
.many{
    color: #FFFFFF;
    width: 249px;
    height: 45px;
    margin-left: 199px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-size: 27px;
}
.text{
    width: 725px;
    height: 102px;
    margin-left: 195px;
    margin-top: 130px;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn02{
    text-align: center;
}
.btn2{
    width: 270px;
    height: 60px;
    margin-left: 200px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 23px;
}
.circle{
    float: left;
    width: 7px;
    height: 7px;
    margin-top: 20px;
    margin-left: 200px;
    opacity: 0.5;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
}
.circle01{
    float: left;
    width: 7px;
    height: 7px;
    margin-top: 20px;
    margin-left: 10px;
    opacity: 0.5;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
}
.circle1{
    float: left;
    width: 7px;
    height: 7px;
    margin-top: 20px;
    margin-left: 10px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
}
.info{
    padding-top: 40px;
    width: 100%;
    height: 250px;
}
.text3{
    width: 624px;
    height: 72px;
    margin-left: 198px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #1D1D1D;
}
.text4{
    width: 335px;
    height: 28px;
    margin-left: 198px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #777777;
}
.btn3{
    float: left;
    margin-left: 200px;
    margin-top: 30px;
    width: 144px;
    height: 50px;
    background: #F8F8F8;
    color: #777777;
}
.btn3:hover{
    background: #BDBDBD;
    border-radius: 2px;
    color: white;
}
.text5{
    float: right;
    margin-right: 15%;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 66px;
    color: #3D3D3D;
}
.meny{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 55px;
}
.text6{
    float: left;
    width: 500px;
    height: 43px;
    margin-left: 195px;
    margin-top: 90px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
    color: #232323;
}
.arrow1{
    margin-top: 90px;
    font-size: 50px;
    margin-left: 40px;
}
.arrow{
    margin-top: 90px;
    font-size: 50px;
}
.hr1{
    width: 650px;
    margin-top: 6%;
    margin-left: 90px;
    float: left;
    height: 1px;
    background-color: black;
}
.btn4{
    width: 120px;
    height: 45px;
    margin-right: 10%;
    margin-top: 5.5%;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #969696;
    float: right;
    border-radius: 2px black;
}
.btn4:hover{
    background: #BDBDBD;
    border-radius: 2px;
    color: white;
}
.img8{
    float: left;
    margin-top: 140px;
    margin-right: 115px;
    width: 550px;
    height: 550px;
    object-fit:cover;
    background:  linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%,rgba(0, 0, 0, 0.8) 100%), url(picture/one.jfif) center center no-repeat; 
    background-size: cover;
}
.img9{
    float: left;
    margin-top: 140px;
    margin-right: 115px;
    width: 550px;
    height: 550px;
    object-fit:cover;
    background:  linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%,rgba(0, 0, 0, 0.8) 100%), url(picture/porto.jfif) center center no-repeat; 
    background-size: cover;
}
.img10{
    float: left;
    margin-top: 140px;
    width: 550px;
    height: 550px;
    object-fit:cover;
    background:  linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%,rgba(0, 0, 0, 0.8) 100%), url(picture/naftalan.png) center center no-repeat; 
    background-size: cover;
}
.text7{
    width: 167px;
    height: 24px;
    margin-left: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.35);
}
.img11{
    width: 20px;
    height: 20px;
}
.stars{
    margin-left: 100px;
    margin-top: 100px;
}
.text8{
    width: 260px;
    height: 34px;
    margin-top: 15px;
    margin-left: 25%;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.img12{
    width: 350px;
    height: 300px;
    background-size: cover;
}
.img13{
    width: 350px;
    height: 300px;
    background-size: cover;
}
.hotels{
    margin-left: 110px;
    margin-top: 70px;
    float: right;
    width: 350px;
    height: 500px;
    background-color: #F8F8F8;
}
.t{
    width: 100%;
    height: 100px;
}
.text9{
    width: 249px;
    height: 34px;
    margin-left: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    text-transform: uppercase;
    color: #323232;
}
.text10{
    width: 316px;
    height: 34px;
    margin-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #848484;
}
.container{
    width: 1042px;
    height: 140px;
    margin-top: 75%;
    margin-left: 23%;
    background: #F8F8F8;
}
.form1{
    width: 1042px;
    height: 50px;
    display: flex;
    flex-direction: row;
}
.text11{
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
}
.hr2{
    width: 1042px;
    height: 6px;
    background: #969696;
    margin: 0 0 0 0;
}
.form2{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.form02{
    margin-left: 65px;
    height: 23px;
    width: 20px;
}
.form020{
    margin-right: 40px;
    height: 23px;
    width: 20px;
}
.form002{
    margin-left: 50px;
    height: 30px;
    width: 90px;
}
.form20{
    margin-left: 50px;
    height: 25px;
}
.btn5{
    width: 100px;
    height: 50px;
    background: #DD4053;
    border-radius: 1px;
}
.form3{
    margin-top: 150%;
    text-align: center;
    width: 100%;
    height: 255px;
    background: #DD4053;
    color: white;
}
.form03{
    margin-right: 120px;
    text-align: center;
    width: 410px;
    height: 40px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
}
.text12{
    margin-left: 270px;
    width: 618px;
    height: 55px;
    font-weight: 500;
    font-size: 28px;
    line-height: 55px;
}
.text13{
    float: right;
    margin-left: 100px;
    margin-right: 201px;
    margin-top: -50px;
    width: 500px;
    height: 52px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
}
.form003{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 270px;
    font-size: 20px;
}
.btn6{
    width: 237px;
    height: 50px;
    background: #FFFFFF;
    margin-left: 210px;
    border-radius: 2px;
    font-size: 15px;
}
.footer{
    margin-top: 400%;
    width: 100%;
    height: 630px;
    background: #F8F8F8;
    color: black;
   
}
.footer1{
    background:  linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%,rgba(0, 0, 0, 0.8) 100%), url(picture/fon1.jpg) center center no-repeat;
    opacity: 50%;
    height: 370px;
    margin-top: -300px;
}
.form031{
    margin-right: 120px;
    text-align: center;
    width: 410px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
}
.btn7{
    width: 237px;
    height: 50px;
    background: #DD4053;
    margin-left: 210px;
    border-radius: 2px;
    font-size: 15px;
}
.img14{
    float: left;
    width: 156px;
    height: 86px;
    margin-left: 350px;
    margin-top: 134px;
}
.stolb{
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 136px;
    margin-left: 300px;
}
.stolb1{
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 136px;
    margin-left: 120px;
}
.stolb2{
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 136px;
    margin-left: 120px;
}
.stolb3{
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 136px;
    margin-left: 120px;
}
.text14{
    width: 131px;
    height: 16px;
    font-size: 15px;
    color: #3E3E3E;
    margin-bottom: 10px;
}
.text15{
    width: 131px;
    height: 16px;
    font-size: 15px;
    color: #3E3E3E;
    margin-top: 10px;
}
.hr3{
    width: 1300px;
    margin-top: 300px;
    background: rgba(29, 29, 29, 0.2);
}
.text16{
    margin-top: 40px;
    margin-left: 290px;
    float: left;
    font-size: 14px;
    color: rgba(62, 62, 62, 0.5);
}
.img15{
    float: right;
    margin-right: 300px;
}
.text17{
    margin-left: 270px;
    width: 618px;
    height: 70px;
    font-weight: 500;
    font-size: 40px;
}
.hotels1{
    margin-left: 110px;
    margin-top: 70px;
    float: right;
    width: 252px;
    height: 500px;
}
.img16{
    width: 252px;
    height: 179px;
    background-size: cover;
}
.img17{
    margin-top: 200px;
    width: 100%;
    height: 490px;
    object-fit:cover;
    background:  linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%,rgba(0, 0, 0, 0.8) 100%), url(picture/tur.jfif) center center no-repeat; 
    background-size: cover;
}
.text18{
    width: 725px;
    height: 102px;
    margin-left: 100px;
    margin-top: -60px;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text19{
    width: 554px;
    height: 28px;
    margin-top: 50px;
    margin-left: 140px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
.img18{
    width: 156px;
    height: 137px;
    padding-left: 500px;
    padding-top: 40px;
}
.text20{
    font-size: 14px;
    color: #a3a3a3;
}
.text21{
    font-size: 20px;
    color: #323232;
}
.text22{
    width: 77px;
    font-size: 14px;
    color: #232323;
}
.text22:hover{
    color: #DD4053;
}
.img19{
    margin-left: 0px;
    width: 200px;
    height: 150px;
    object-fit:cover;
}
.div{
    width: 250px;
    height: 300px;
    float: left;
    background: #F8F8F8;
    margin-top: 300px;
    margin-left: -240px;
    margin-right: 340px;
}
.div1{
    width: 250px;
    height: 300px;
    float: left;
    background: #F8F8F8;
    margin-top: 300px;
    margin-left: -600px;
    margin-right: 50px;
}
.div2{
    width: 250px;
    height: 300px;
    float: left;
    background: #F8F8F8;
    margin-top: 100px;
    margin-left: -240px;
    margin-right: 340px;
}
.text23{
    margin-top: -25px;
    margin-left: 60px;
    font-size: 20px;
    line-height: 55px;
    color: #232323;
}
.btn8{
    margin-left: 30px;
    width: 190px;
    height: 40px;
    font-size: 14px;
    color: #969696;
    border: 1px solid #969696;
}
.btn8:hover{
    background: #969696;
    color: white;
}
.text24{
    height: 50px;
    float: left;
    margin-top: 50px;
    margin-left: 150px;
    color: #DD4053;
    font-size: 31px;
}

.text25{
    width: 640px;
    height: 70px;
    float: left;
    margin-top: 150px;
    margin-left: -300px;
    color: #000000;
    font-size: 31px;
}
.text26{
    height: 50px;
    width: 150px;
    float: right;
    color: #DD4053;
    font-size: 20px;
    margin-top: 150px;
    margin-right: 200px;
}
.text27{
    width: 350px;
    height: 70px;
    font-size: 18px;
    color: #252525;
    margin-left: 200px;

}
.text28{
    font-size: 18px;
    color: #DD4053;
}
.text29{
    margin-top: 550px;
    margin-left: 900px;
    width: 505px;
    height: 81px;
    border: 1px solid #C4C4C4;
    font-size: 18px;
    color: #252525;
}
.container1{
    width: 100%;
    
    background: #F8F8F8;
    text-align: center;
}
.sub-conteiner{
    width: 80%;
  margin: auto;

}
.text30{
    margin: 90px 0 40px 0;
    color: #232323;
    font-size: 40px;
}
.pod-conteiner{
    margin-left: 200px;
    color: black;
    display: flex;
    flex-direction: row;
}
.pod-conteiner-left, .pod-conteiner-right{
    display: flex;
    flex-direction: column;
    margin: 1%;
}
.card{
    font-size: 20px;
    color: #232323;
    margin: 2%;
    width: 505px;
    height: 165px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: row;
}
.text31{
    width: 450px;
}
.card:hover{
    margin-left: 20px;
}
.container2{
    width: 100%;
    height: 1001px;
    background: #F8F8F8
}
.text32{
    margin-top: 100px;
    margin-left: 200px;
    width: 650px;
    font-size: 31px;
    color: #262626;
}